@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    
}

<style>
    form {
        font-size: 18px;
        font-weight: bold;
    }

    select {
        font-size: 15px;
        font-weight: normal;
    }

    #postQuestionHeader {
        color: maroon;
        font-weight: bold;
        margin-top: 5%;
        margin-bottom: 3%;
        margin-left: 5%;
    }

    #title {
        font-size: 15px;
        font-weight: normal;
        margin-bottom: 2%;
    }

    #subject {
        margin-bottom: 2%;
    }

    #grade {
        margin-bottom: 2%;
    }

    #questionBody {
        font-size: 15px;
        font-weight: normal;
        width: 600px;
        height: 200px;
        margin-bottom: 2%;
    }

    #postButton {
        margin-bottom: 2%;
    }
</style>

<html>
<head>
    <title>Post Question Page</title>
</head>
<body>
    <div class="container">
        <h2 id="postQuestionHeader">Post a Question</h2>
        @model Question
        <form asp-action="Create">
            <label asp-for="Title">Title:</label>
            <input id="title" type="text" asp-for="Title" /><br />
            <label asp-for="Subject">Subject: </label>
            <select id="subject" asp-for="Subject"> 
                <!--Change options to be pulled from global list-->
                <option value="English">English</option>
                <option value="Math">Math</option>
                <option value="Social_Studies">Social Studies</option>
                <option value="Science">Science</option>
                <option value="Language">Language</option>
                <option value="Arts">Arts</option>
            </select><br />
            <label asp-for="Grade">Grade: </label>
            <select id="grade" asp-for="Grade">
                <!--Change options to be pulled from global list-->
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
            </select><br />
            <label asp-for="Body">Question: </label> <br />
            <textarea id="questionBody" asp-for="Body" wrap="hard" maxlength="5000"></textarea><br />
            <input id="postButton" type="submit" value="Create" />
        </form>
    </div>
</body>
</html>