@model User 

<!DocType Html>

<h3>Homework Helper Board | Account Management </h3>
<hr />
<div class="container">
    <div id="AccountManagement">
        <form asp-action="AccountManagement">

            <h4>My Account </h4>

            <label asp-for="FirstName">First Name</label>
            <input id="FirstName" type="text" asp-for="FirstName" /><br />


            <label asp-for="LastName">Last Name</label>
            <input id="LastName" type="text" asp-for="LastName" /><br />


            <label asp-for="Username">Display Name</label>
            <input id="UserName" type="text" asp-for="Username" /><br />


            <label asp-for="Email">Email</label>
            <input id="Email" type="text" asp-for="Email" /><br />


            <label asp-for="Email">Confirm Email</label>
            <input id="Email" type="text" asp-for="Email" /><br />


            <label asp-for="Password">Password</label>
            <input id="Password" type="text" asp-for="Password" /><br />


            <label asp-for="Password">Confirm Password</label>
            <input id="Password" type="text" asp-for="Password" /><br />

            <hr />
            <input id="cancelButton" type="submit" value="Cancel" />
            <input id="saveButton" type="submit" value="Save Changes" />
            <input id="createButton" type="submit" value="Create" />



        </form>
    </div>
</div>

