@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers
@{
    
}

<style>
    form {
        font-size: 18px;
        font-weight: bold;
    }

    select {
        font-size: 15px;
        font-weight: normal;
    }

    #postQuestionHeader {
        color: maroon;
        font-weight: bold;
        margin-top: 5%;
        margin-bottom: 3%;
        margin-left: 5%;
    }

    #title {
        font-size: 15px;
        font-weight: normal;
        margin-bottom: 2%;
    }

    #subject {
        margin-bottom: 2%;
    }

    #grade {
        margin-bottom: 2%;
    }

    #questionBody {
        font-size: 15px;
        font-weight: normal;
        width: 600px;
        height: 200px;
        margin-bottom: 2%;
    }

    #postButton {
        margin-bottom: 2%;
    }
</style>

<html>
<head>
    <title>Post Question Page</title>
</head>
<body>
    <div class="container">
        <h2 id="postQuestionHeader">Post a Question</h2>
        @model Question
        <form asp-action="QuestionDetail">
            <label asp-for="Title">Title:</label>
            <input id="title" type="text" asp-for="Title" /><br />
            <label asp-for="Subject">Subject: </label> 
            <select id="subject" asp-for="Subject"> <!--Change options to be pulled from global list-->
                <option value="to">To</option>
                <option value="be">Be</option>
                <option value="changed">Changed</option>
            </select><br />
            <label asp-for="Grade">Grade: </label>
            <select id="grade" asp-for="Grade"> <!--Change options to be pulled from global list-->
                <option value="to">To</option>
                <option value="be">Be</option>
                <option value="changed">Changed</option>
            </select><br />
            <label asp-for="Body">Question: </label><br />
            <textarea id="questionBody" wrap="hard" maxlength="5000" asp-for="Body"></textarea><br />
            <input id="postButton" type="submit" value="Post" />
        </form>
    </div>
</body>
</html>