@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}

<html>
<head>
    <title>Question Detail Page</title>
</head>
<body>
    <div class="container">
        <h3 id="questionTitle">Insert Question Title Here</h3> <!--Change to take in question detail-->
        <div id="mainQuestion"> <!--This section will hold the main question-->

        </div>
        <div id="replies"> <!--This section will hold replies to the question-->

        </div>
        <div id="postReply">

        </div>
    </div>
</body>
</html>