<!DOCTYPE html>
<html>
<body>
    <nav class="container">
        <div class="navbar-header pull-right">
            <a>Sign In</a>
        </div>
    </nav>
    <nav class="container">
        <div class="navbar-header navbar-collapse pull-right">
            <ul class="nav navbar-nav">
                <li><a asp-controller="HomeFeed" asp-action="HomeFeed">Home</a></li>
                <li><a>My Homework</a></li>
                <li><a asp-controller="PostQuestion" asp-action="PostQuestion">Post Question</a></li>
                <li><a>My Account</a></li>
                <li><a>About</a></li>
                <li><a>Contact</a></li>
            </ul>
        </div>
    </nav>
</body>
</html>